@import 'tailwindcss';

@import "../../../themes/base.css" layer(theme);
@import "../../../themes/devices/mobile.css" layer(theme);
@import "../../../themes/light/colors.css" layer(theme);

@import "./mobile-base.css";

@theme {
    --button-dot-fill-pr: var(--color-bord-pr);
    --button-dot-fill-sc: var(--color-fill-pr);
}


