@import "tailwindcss";

@import "../themes/devices/desktop.css" layer(theme);
@import "../themes/light/colors.css" layer(theme);

@import "../themes/base.css" layer(theme);

/* Document specific styles */

.document-container ul, ol {
	@apply list-disc list-inside;
}

.document-container ul li, ol li {
	@apply list-disc list-inside;
}

.document-container h1 {
	@apply text-title-1 font-bold;
}

.document-container h2 {
	@apply text-title-2 font-bold;
}

.document-container h3 {
	@apply text-title-3 font-bold;
}

.document-container h4 {
	@apply text-par-l font-bold;
}